{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Shelley Behen">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1 id='logo'>She {Codes} News</h1>
                    {% include './nav.html' %}
                </a>
            </div>
            </header>
            
        {% block content %}{% endblock %}
    </body>
<footer>
    <div class="footer">
        <div id="button"></div>
            <div id="container">
                <div id="cont">
                    <div class="footer_center">
                        <h3 style="color:white;">footer</h3>
                    </div>
                </div>
            </div>
        </div>
</footer>
</html>
